<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="cff7cb92-e189-42a4-9722-c4254d7e19ad" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://petstore.swagger.io" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="cff7cb92-e189-42a4-9722-c4254d7e19adfileName">http%3A%2F%2Fpetstore.swagger.io</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://petstore.swagger.io</con:endpoint></con:endpoints></con:interface>